#about-page {
    .intro-holder {
        .intro-name {
            font-size: 1.75rem;
            font-weight: 900;
            letter-spacing: 0.2rem;
            color: var(--font-color-00);
        }
    }

    .btn-two {
        padding: 0.2rem 1.5rem !important;
        letter-spacing: .02rem;
    }
}
