#contact-page {
    .intro-holder {
        .intro-name {
            font-size: 1.75rem;
            font-weight: 900;
            letter-spacing: 0.1rem;
            color: var(--font-color-00);
            margin-bottom: 1rem;
        }
    }
}